<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiQ4ezXf-eFzcTDTlNpEQsm7ZW735VqmE</string>
	<key>GCM_SENDER_ID</key>
	<string>898351564224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAlarmApplication</string>
	<key>PROJECT_ID</key>
	<string>alarmshare-d343f</string>
	<key>STORAGE_BUCKET</key>
	<string>alarmshare-d343f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898351564224:ios:2b64b59b41841958e33425</string>
</dict>
</plist>